{% include 'dashboard/navbar.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}


    <h1>Commentaire index</h1>

    <table class="table table-hover">
    <thead>
        <tr>
            <th class="table-primary">IdComent</th>
            <th class="table-primary">Contenu</th>
            <th class="table-primary">Nom</th>
            <th class="table-primary">Datenow</th>
            <th class="table-primary">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td class="table-secondary">{{ commentaire.idComent }}</td>
                <td class="table-secondary">{{ commentaire.contenu }}</td>
                <td class="table-secondary">{{ commentaire.nom }}</td>
                <td class="table-secondary">{{ commentaire.datenow }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_commentaire_show', {'idComent': commentaire.idComent}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_commentaire_edit', {'idComent': commentaire.idComent}) }}">Edit</a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="table-secondary">No records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    <a href="{{ path('app_commentaire_new') }}">Create new</a>

{% endblock %}



