{% include 'dashboard/navbar.html.twig' %}
{% block title %}Commentaire{% endblock %}
{% block body %}
{% block nav %}
    <h1>Commentaire</h1>

  <table class="table">
    <thead>
        <tr>
            <th class="table-primary">IdComent</th>
            <th class="table-primary">Contenu</th>
            <th class="table-primary">Nom</th>
            <th class="table-primary">Datenow</th>
            <th class="table-primary">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-secondary">{{ commentaire.idComent }}</td>
            <td class="table-secondary">{{ commentaire.contenu }}</td>
            <td class="table-secondary">{{ commentaire.nom }}</td>
            <td class="table-secondary">{{ commentaire.datenow }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <a class="btn btn-success" href="{{ path('app_commentaire_edit', {'idComent': commentaire.idComent}) }}"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
{% endblock %}

