<table class="table table-striped" border="1" style="background-color: #f5f5f5; color: #000000;">
    <thead>
        <tr>
            <th colspan="2" class="table-title">Hebergement</th>
        </tr>
    </thead>
    <tbody class="table-data">
        <tr>
            <td>Capacité</td>
            <td>{{ hebergement.capacite }}</td>
        </tr>
        <tr>
            <td>Prix</td>
            <td>{{ hebergement.prix }}</td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td>{{ hebergement.adresse }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ hebergement.type }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ hebergement.description }}</td>
        </tr>
    </tbody>
</table>
<p class="table-subtitle">Soyer le Bienvenue !</p>