{% extends 'base.html.twig' %}

{% block title %}Add Transport{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Add Transport</h1>

        {{ form_start(form, {'attr':{'novalidate':'novalidate'}},{'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.cap, 'Capacity', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.cap, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.cap) is not empty %}
                    <small class="form-text text-muted">{{ form_errors(form.cap) }}</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.type, 'Type', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.type) is not empty %}
                    <small class="form-text text-muted">{{ form_errors(form.type) }}</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.dd, 'Departure Date', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.dd, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.dd) is not empty %}
                    <small class="form-text text-muted">{{ form_errors(form.dd) }}</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.da, 'Arrival Date', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.da, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.da) is not empty %}
                    <small class="form-text text-muted">{{ form_errors(form.da) }}</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.prix, 'Price', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.prix) is not empty %}
                    <small class="form-text text-muted">{{ form_errors(form.prix) }}</small>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
        {{ form_end(form) }}

        <a href="{{ path('transports_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
