{% extends 'base.html.twig' %}

{% block title %}Show Transport{% endblock %}

{% block body %}
    <h1>Show Transport</h1>

    <dl>
        <dt>Type</dt>
        <dd>{{ transport.type }}</dd>
        <dt>Capacity</dt>
        <dd>{{ transport.cap }}</dd>
        <dt>Departure Date</dt>
        <dd>{{ transport.dd|date('Y-m-d H:i') }}</dd>
        <dt>Arrival Date</dt>
        <dd>{{ transport.da|date('Y-m-d  H:i') }}</dd>
        <dt>Price</dt>
        <dd>{{ transport.prix }}</dd>
    </dl>
    <div>
      <img src="{{ path('transport_show_qr', {'id': transport.id}) }}" alt="Transport QR Code">


    </div>
    <a href="{{ path('transports_index') }}">Back to list</a>
{% endblock %}
