{% extends 'base.html.twig' %}

{% block title %}Circuit index{% endblock %}

{% block body %}
    <h1>Circuit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Depart</th>
                <th>Arrive</th>
                <th>Temps</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.id }}</td>
                <td>{{ circuit.prix }}</td>
                <td>{{ circuit.depart }}</td>
                <td>{{ circuit.arrive }}</td>
                <td>{{ circuit.temps }}</td>
                <td>{{ circuit.categorie }}</td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.pays }}</td>
                <td>
                    <a href="{{ path('app_circuit_show', {'id': circuit.id}) }}">show</a>
                    <a href="{{ path('app_circuit_edit', {'id': circuit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_circuit_new') }}">Create new</a>
{% endblock %}
